/* src/layouts/AuthLayout.module.css */

.layoutContainer {
  display: flex;
  height: 100vh;
  background-color: #f3f4f6; /* Light gray background */
}

.content {
  flex: 1 1 0%; /* This is the key: it makes the main content grow to fill all available space */
  overflow-y: auto; /* Adds a scrollbar only to the main content if it's too tall */
}